:root {
    --primary: #263250;
    --secondary: #564440;
    
    --primary-supplement: #85d0ce;
    --secondary-supplement: #af633f;
    
    --primary-from: #19454b;
    --secondary-from: #85d0ce;

    --primary-family-font: 'Mulish', sans-serif;
    --secondary-family-font: 'Nunito', sans-serif;
    --tertiary-family-font: 'Inter', sans-serif;

    --extra-color-one: #F09591;
    --extra-color-two: #32363E;
    --extra-color-three: #5BBEDD;
}