:root {
    --primary: #263250;
    --secondary: #564440;
    
    --primary-supplement: #85d0ce;
    --secondary-supplement: #af633f;
    
    --primary-from: #19454b;
    --secondary-from: #85d0ce;

    --primary-family-font: 'Mulish', sans-serif;
    --secondary-family-font: 'Nunito', sans-serif;
    --tertiary-family-font: 'Inter', sans-serif;

    --extra-color-one: #F09591;
    --extra-color-two: #32363E;
    --extra-color-three: #5BBEDD;
}

.w-100 {
    width: 100%;
}

.h2-primary{
    font-family: var(--primary-family-font), consolas;
    font-style: normal;
    font-weight: 300;
    font-size: 45px;
    line-height: 40px;
    color: var(--primary);
}

.product-card {
    width: 228px;
    height: 332px;
}

.product-card img {
    margin: 0 auto;
}

.product-card--title {
    font-family: var(--primary-family-font);
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: var(--primary);
    width: 190px;
    margin: 0 auto 3px;
}

.product-card--bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: space-between; */
    width: 190px;
    margin: 7px auto 0;
}

.product-card--bottom .price {
    font-family: var(--primary-family-font);
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: var(--primary);
}

.product-card--bottom .old-price {
    font-family: var(--tertiary-family-font);
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 20px;
    text-decoration: line-through;
    color: var(--primary);
    margin-left: 13px;
}

.product-card--bottom button {
    height: 35px;
    width: 35px;
    border-radius: 100%;
    background: #63D384;
    margin-left: 76px;
}

.product-card--rating {
    display: flex;
    margin: 0 auto auto 19px;
    width: 146px;
}

.product-card .comments {
    font-family: var(--primary-family-font);
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    line-height: 20px;
    text-transform: uppercase;
    color: var(--primary);
    margin-left: 5px;
}

.hero--cta {
    position: absolute;
    width: 245px;
    height: 245px;
    border-radius: 100%;
    background: rgb(255 255 255 / 60%);
    display: flex;
    align-items: center;
    justify-content: center;
    left: 375px;
    top: 24px;
}

.hero--cta span {
    font-family: var(--secondary-family-font);
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    color: var(--primary) !important
}

#hero-bg {
    /* margin-bottom: 47px;
    background: url("./assets/hero-banner.webp");
    height: 443px;
    background-repeat: round; */

    margin-bottom: 47px;
    background: url(./assets/hero-banner.webp);
    height: 400px;
    background-size: cover;
}

.product-listing {
    margin-top: 32px;
    display: grid;
    grid-template-columns: 228px 228px 228px 228px 228px;
    grid-column-gap: 35px;
}

#categories-separator {
    background: var(--extra-color-three);
    height: 500px;
    display: flex;
    align-items: center;
    margin-top: 66px;
}

#categories-separator h2 { 
    font-family: var( --primary-family-font);
    color: #fff;
    font-weight: 300;
    font-size: 45px;
    margin-bottom: 55px; 
}

.category-card span {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 20px;
    color: #FFFF;
    margin-top: 26px;
}

.category-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#shipping-benefits {
    background: var(--extra-color-one);
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.benefits-card h2 {
    font-family: var(--primary-family-font);
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
}

.benefits-card h3 {
    font-family: var(--primary-family-font);
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: var(--primary);
    margin-top: 6px;
}

.benefits-card {
    display: flex;
    flex-wrap: wrap;
}

.benefits-card img {
    margin-right: 15px;
}

#pre-footer-socials--wrapper {
    position: absolute;
    top: 4px;
    width: 100%;
}

#pre-footer-socials--wrapper h3 {
    font-family: var(--primary-family-font);
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: var(--extra-color-two);
}

.footer-container{
    max-width: 1150px;
}

#footer {
    background-color: var(--primary)
}

#footer h1 {
    font-family: var(--secondary-family-font);
    font-style: normal;
    font-weight: 800;
    font-size: 27px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 33px;
}

#footer h2 {
    font-family: var(--primary-family-font);
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: var(--extra-color-one);
    max-width: 250px;
    margin-bottom: 16px;
}

#footer p {
    font-family: var(--secondary-family-font);
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
}

#footer h3 {
    font-family: var(--primary-family-font);
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #fff;
}

#footer .footer-link {
    font-family: var(--tertiary-family-font);
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 30px;
    color: #FFFFFF;
}

.footer-links {
    margin-top: 8px;
}

#newsletter button {
    position: absolute;
    right: 0;
    width: 146px;
    height: 42px;
    background: var(--extra-color-three);
    border-radius: 0px 3px 3px 0px;
    color: #fff;
    font-family: var(--primary-family-font);
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}

#newsletter input {
    width: 293px;
    height: 42px;
    padding: 10px 157px 10px 12px;
}

#newsletter-article {
    margin: 0 auto;
    margin-right: 0;
}